.activity_outer{
    background-color: var(--black-bg);
    border-radius: 10px;
.list_box{
    .list_table{
        li{
            span{
                margin-left: 35px;
            }
        }
    }
}

}
.pagination_main{
    .page-item{
       .page-link{
          background-color:black;
          color:white;
          border-color:green;
       }
     }
    .active{
      .page-link{
       border-color:green;
       background-color: white;
        color:green;
        font-weight: bold;
        &:focus{
            box-shadow: unset;
        }
       }
     }
 }
