

.chart {
  min-height: 320px;
  background-color: var(--box-bg);
  filter: drop-shadow(var(--drop-shadow));
  border-radius: 5px;
  position: relative;

  .time {
    position: relative;
    z-index: 2;
    background-color: var(--box-bg);
  }

  .chrt_time {
    position: relative;
    z-index: 2;
    background-color: var(--box-bg);

    .green {
      color: var(--ex-green);
    }
    .red {
      color: var(--ex-red);
    }
  }

  .child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .chartloader {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 4;
    text-align: center;
  }
}




// .chart {
//     min-height: 320px;
//     // background-color: var(--box-bg);
//     // filter: drop-shadow(var(--drop-shadow));
//     // border-radius: 5px;
// }
// .chrt_tkn_name{
//     font-size: 13px;
// }
// .chrt_time{
//     button{
//         color: var(--ch-gray);
//         font-size: 14px;
//         font-weight: 500;
//     }
// }
// .chart_box{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 200px;
// }
// .parent {
//     position: relative;
//     width: 100%;
//     padding-bottom: 35%;
//     height: 100%;
//   }
  
//   .child {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
  
//   .price-color-g {
//     color: var(--ex-green);
//     font-size: small
//   }
  
//   .price-color-r {
//     color: var(--ex-red);
//     font-size: small
//   }
  
//   span {
//     font-size: small;
//   }
  
//   .loader_chart {
//     min-height: 400px;
//   }
  
//   .portfolio th,
//   td {
//     width: 0%;
//   }
  
  
//   .exchange_box button {
//     background-color: var(--ch-ex-bg) !important;
//     font-size: 12px !important;
//     border: none !important;
//     font-weight: bold;
//   }
  
  
//   .chartloader {
//     position: absolute;
//     top: 35%;
//     left: 0;
//     right: 0;
//     margin: 0 auto;
//     // width: 100%;
//     height: 100%;
//     z-index: 4;
//     text-align: center;
//   }
  
//   hr {
//     margin: 0px !important;
//     color: gray !important;
//     border: 0;
//     border-top: 1px solid !important;
//     opacity: .25;
//   }
  
//   .green{
//     color: var(--ex-green);
//   }
//   .red{
//     color: var(--ex-red);
//   }
  
//   .img{
//     cursor: pointer !important;
//   }
  
//   @media  (max-width: 600px) {
//     .parent {
//       height: 250px;
//     }
//     .timelinebtn{
//       font-size: 12px !important;
//     }
//   }
  
  
//   @media  (max-width: 992px){
//     .parent {
//       padding-bottom: 40%;
//     }
//   }
  
//   @media  (min-width: 992px) and (max-width: 1200px){
//     .parent {
//       padding-bottom: 43% !important;
//     }
//   }