.otp-sec {
  background-image: url(/images/auth/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 89vh;
  display: flex;
  align-items: center;

  .auth-box {
    padding: 15px 25px;

    .label-box label {
      color: var(--white);
      text-transform: capitalize;
      font-size: var(--fs-14);
    }

    .otp-input {
      .otp_box {
        justify-content: space-between;
      }
      .form-control {
        background-color: var(--auth-form-bg);
        border-color: var(--auth-border);
        color: var(--auth-text);

        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          text-transform: capitalize;
          color: var(--auth-text);
        }
      }
    }

    .submit-btn {
      button.btn.btn-primary {
        width: 100%;
        background-color: var(--auth-btn);
        border-color: var(--auth-btn);
        color: var(--black);
        text-transform: uppercase;
        font-size: var(--fs-16);
        font-weight: 600;
        min-height: 45px;
        border-radius: 30px;
      }
    }
  }
}
